@model TestGenerator.Model.Entities.Exam
@using TestGenerator.Model.Entities

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Exam</h4>
    <hr />
    <div class="row">
        <dl class="dl-horizontal col-md-6">
            <dt>
                @Html.DisplayNameFor(model => model.Module)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Module.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.QuestionAmount)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.QuestionAmount)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AuthorizedAttempts)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AuthorizedAttempts)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Duration)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Duration)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ClosingDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ClosingDate)
            </dd>
        </dl>
        <dl class="dl-horizontal col-md-6">
            <dt>
                @Html.DisplayNameFor(model => model.Questions)
            </dt>
            <dd>
                <ul>
                    @foreach (ExamQuestion question in Model.Questions)
                    {
                        <li><a asp-controller="Questions" asp-action="Details" asp-route-id="@question.QuestionId">@question.Question.Text</a></li>
                    }
                </ul>
            </dd>
        </dl>
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ExamId" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>
