@using TestGenerator.Model.Entities

@model Exam

@{
    ViewData["Title"] = string.Format("{0} - Details", @Model.Name);
}

<div class="row justify-content-center mt-5">
    <div class="col-10">
        
        <h2>@Model.Name</h2>
        <a class="badge badge-primary" asp-controller="Modules" asp-action="Details" asp-route-id="@Model.Module.ModuleId">@Model.Module.Title</a>
        <p class="text-muted">@Model.Description</p>

        @if (User.IsInRole("Administrator"))
        {
            <h4 class="mt-3">@Html.DisplayNameFor(model => model.Questions)</h4>
            <ul>
                @foreach (ExamQuestion question in Model.Questions)
                {
                    <li>
                        <a asp-controller="Questions" asp-action="Details" asp-route-id="@question.QuestionId">@question.Question.Text</a>
                    </li>
                }
            </ul>
        }
        
        <div class="mt-4">
            <a class="btn btn-primary" asp-action="Index">Retour à la liste</a>
        </div>
    </div>
</div>